---
import Wrapper from "../../components/Base/Common/wrapper.astro";
import BaseLayout from "../../components/Layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const articles = await getCollection("articles");
---

<BaseLayout title="Article">
  <Wrapper>
    <ul>
      {
        articles.map((article) => (
          <li>
            <a href={`/articles/${article.id}`}>{article.data.title}</a>
            <p>{article.data.description}</p>
          </li>
        ))
      }
    </ul>
  </Wrapper>
</BaseLayout>

<style>
  li > p {
    color: var(--system-font-clr-muted);
  }
  li > a {
    color: var(--system-font-clr);
  }
</style>
