---
import BaseLayout from "../../components/Layouts/BaseLayout.astro";
import Wrapper from "../../components/Base/Common/Wrapper.astro";
---

<BaseLayout>
  <Wrapper>
    <h2>Work in progress!</h2>
  </Wrapper>
</BaseLayout>

<style>
  * {
    color: var(--system-font-clr);
  }
</style>
