h2 {
  line-height: 1.8;
}

p > img {
  display: block;
  margin-inline: auto;
  opacity: 0.5;
  transition: opacity 0.4s ease;
  filter: saturate(0);
  /* transition: filter 0.4s ease; */

  width: 250px;
  height: 250px;
  width: 100%;
  margin-block: 20px; /*wrong?!*/
}

p > img:hover {
  filter: saturate(1); /* darkens the image */
  opacity: 1;
}

@media (max-width: 900px) {
  p > img {
    filter: saturate(1);
    opacity: 1;
  }
}
