@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/ubuntu.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --system-bg-clr: #ebebeb;
  --system-font-clr: #000000;
  --component-bg-clr: #ffffff;
  --component-font-clr: #000000;
}

[data-theme="dark"] {
  --system-bg-clr: #1a1a1a;
  --system-font-clr: #f4f4f4;
  --component-bg-clr: #5c5d6c;
  --component-font-clr: #f4f4f4;
}

html {
  background-color: var(--system-bg-clr);
  font-family: "Ubuntu", Georgia;
}

html.dark {
  background-color: var(--system-bg-clr);
  color: var(--system-font-clr);
}
