---
import { getRandomNumber } from "../../../../utils/utils";

const { articles } = Astro.props;
---

<a href={`/articles/${articles[getRandomNumber(0, articles.length - 1)].id}`}>Random Article!</a>

<style>
  a {
    background-color: var(--component-bg-clr);
    border: solid 2px var(--system-font-clr);
    color: var(--system-font-clr);
    padding: 8px;
    transition: background-color 0.2s ease;
  }
  a:hover {
    background-color: var(--system-bg-clr);
    cursor: pointer;
  }
</style>
