---
const { articles } = Astro.props;
---

<a id="randomArticleBtn" data-articles-json={JSON.stringify(articles)}>Random Article!</a>

<script>
  const button = document.getElementById("randomArticleBtn");
  const articles = JSON.parse(button.dataset.articlesJson);
  const randNumber = Math.floor(Math.random() * articles.length);

  button.addEventListener("click", () => {
    window.location.href = `/articles/${articles[randNumber].id}`;
  });
</script>

<style>
  a {
    background-color: var(--component-bg-clr);
    border: solid 2px var(--system-font-clr);
    color: var(--system-font-clr);
    padding: 8px;
    transition: background-color 0.2s ease;
  }
  a:hover {
    background-color: var(--system-bg-clr);
    cursor: pointer;
  }
</style>
