---
import BaseLayout from "./BaseLayout.astro";
import Wrapper from "../Base/Common/Wrapper.astro";

const { article } = Astro.props;
const title = article.data.title;
---

<BaseLayout title={title}>
  <article>
    <Wrapper>
      <h1>{title}</h1>
      <p>Written by {article.data.author}</p>
      <slot />
    </Wrapper>
  </article>
</BaseLayout>

<style>
  h1 {
    color: var(--system-font-clr);
  }

  p {
    color: var(--system-font-clr-muted);
  }

  /* article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-inline: auto;
    margin-block: 15px;
    padding-inline: 40px;
    padding-block: 40px;
    word-break: break-all;
    width: 835px;

    background-color: var(--component-bg-clr);
    border: 2px solid var(--system-font-clr);

    color: var(--system-font-clr);
  }

  @media (width <= 900px) {
    article {
      width: 350px;
    }
  } */
</style>
