---
import BaseLayout from "../components/Layouts/BaseLayout.astro";
---

<!-- Go back button -->
<BaseLayout>
  <div>404!</div>
</BaseLayout>

<style>
  div {
    text-align: center;
    margin-top: 20px;
    color: var(--system-font-clr);
  }
</style>
