---
import BaseLayout from "../layouts/BaseLayout.astro";

const articles = Object.values(import.meta.glob("./articles/*.md", { eager: true }));
const title = "Articles";
---

<BaseLayout title={title}>
  <ul>
    {
      articles.map((article: any) => (
        <li>
          <a href={article.url}>{article.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
