---
import { myConfig } from "../config/myConfig";
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
console.log("This runs in your terminal, not the browser!");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {myConfig.age}
  </body>
</html>

<style>
  body {
    background-color: rgb(63, 62, 62);
  }
</style>
