<section>
  <p>Hello, friend!</p>
  <p>Welcome to my little corner of the web!</p>
  <p>We haven't met yet, but you can interact with me by</p>
  <span>--help</span>
</section>

<style>
  section {
    margin-inline: auto;
    background-color: white;
    min-height: 175px;
    width: 600px;
    border: 2px solid black;
    margin-top: 15px;
    padding: 20px;
    text-align: center;
  }
  span {
    display: block;
    margin-block: 5px;
    font-weight: bold;
  }
</style>
